.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.nav-link,
.contact-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}